.searchPage {
    padding: 20px;
}

.searchPage__info > p {
    margin-bottom: 10px;
    font-size: 14px;
}

.searchPage__info > h1 {
    margin-bottom: 30px;
}

.searchPage__info > button {
    background-color: white;
    border-radius: 30px;
    height: 30px;
    border-width: 0.5px;
    margin: 5px;
}